#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  padding: 0.5rem;
  border: 1px solid #dddddd;
  border-radius: 0.25rem;
}
input[type='radio'],
input[type='checkbox'] {
  display: inline;
  width: 1rem;
}
select {
  display: block;
  margin-bottom: 15px;
  padding: 0.5rem;
  border: 1px solid #dddddd;
  border-radius: 0.25rem;
}

label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  text-align: left;
  color: #555555;
  font-weight: bold;
}

button {
  align-self: center;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #4caf50;
  width: 40%;
  font-size: 1rem;
}

.radio {
  display: flex;
  gap: 0.2rem;
}
