#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  flex-grow: 1;
  color: #000000;
  text-decoration: none;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #1976d2;
  background-color: #1976d2;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    border: 1px solid #1565c0;
    background-color: #1565c0;
  }

  &:disabled {
    border: 1px solid #1976d2;
    background-color: #e3f2fd;
    color: #616161;
  }

  &-error {
    border: 1px solid #d32f2f;
    background-color: #d32f2f;

    &:hover {
      border: 1px solid #c62828;
      background-color: #c62828;
    }
  }

  &-close {
    padding: 0.5rem 0.8rem;
  }
}

.input {
  width: 90%;
  max-width: 30rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #3c3c3c;
}
